@page
@model MaaltijdPlanner.PlannerModel
@using MaaltijdPlanner;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maaltijdplanner</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div class="formatbody">
        <nav>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>q
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
        </nav>
        <div class="content">
            <section>
            <form method="post">
          <p>Hoeveel dagen?</p>
          <select id="daysSelect">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
          </select>
          </form>
          <div id="loremContainer"></div>
          </section>
        </div>
    </div>
</body>
</html>
