@page
@model MaaltijdPlanner.PlannerModel
@using MaaltijdPlanner;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maaltijdplanner</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div class="formatbody">
        <nav>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>q
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
        </nav>
        <div class="content">
            <form>
          <p>Hoeveel dagen?</p>
          <select>

          </select>
          </form>
        </div>
    </div>
</body>
</html>
