@page
@model MaaltijdPlanner.PlannerModel
@using MaaltijdPlanner;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maaltijdplanner</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div class="formatbody">
        <nav>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
        </nav>
        <div class="content">
            <section>
                <form method="post">
                    <p>Hoeveel dagen?</p>
                    <select id="daysSelect">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </form>
                <div id="SelectorContainer" class="SelectorContainer">
                   <div class="Selectorbox">
                       <p>Willekeurige recepten</p>
                       <select id="Random">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                       </select>
                   </div>
                   <div class="Selectorbox">
                       <p>Vis Recepten</p>
                       <select id="Vis">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                       </select>
                       </div>
                   <div class="Selectorbox">
                       <p>AVG Recepten</p>
                       <select id="AVG">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                       </select>
                       </div>
                   <div class="Selectorbox">
                       <p>Ongezonden Recepten</p>
                       <select id="Ongezond">
                           <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                       </select>
                   </div>
                   <div class="Selectorbox">
                       <p>Veganistische Recepten</p>
                       <select id="Vegan">
                           <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                       </select>
                   </div>
                </div>
                <button type="button">Genereer</button>
            </section>
        </div>
    </div>
</body>
</html>
