@page
@using System.Data
@model MaaltijdPlanner.PlannerModel
@{
    ViewData["Title"] = "Weekly Meal Planner";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Maaltijdplanner</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>

<body>
    <div class="formatbody">
        <nav>
            <ul><a href="/Index">Home</a></ul>
            <ul><a href="/Recepten">Recepten</a></ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
            <ul>Icon</ul>
        </nav>
        <div class="content">
            <section>
                <form method="post" action="">
                    @Html.AntiForgeryToken()
                    <p>Hoeveel dagen?</p>
                    <select asp-for="Days" id="daysSelect">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                    <div id="SelectorContainer" class="SelectorContainer">
                        <div class="Selectorbox">
                            <p>Willekeurige recepten</p>
                            <select asp-for="Random" id="Random" name="Random">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="Selectorbox">
                            <p>Vis Recepten</p>
                            <select asp-for="Vis" id="Vis" name="Vis">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="Selectorbox">
                            <p>AVG Recepten</p>
                            <select asp-for="Avg" id="AVG" name="Avg">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="Selectorbox">
                            <p>Ongezonden Recepten</p>
                            <select asp-for="Ongezond" id="Ongezond" name="Ongezond">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="Selectorbox">
                            <p>Veganistische Recepten</p>
                            <select asp-for="Vegan" id="Vegan" name="Vegan">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" value="ok">
                </form>
            </section>
            <section id="weeklyMealsSection">
                <ul>@Model.GetWeeklyMeal()</ul>
            </section>
        </div>
    </div>
</body>
</html>
